.THIS.person-card {
    border: 1px solid #dddbda;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #dddbda;
}

.THIS.Red {
    border-top: 8px solid red;
}

.THIS.Orange {
    border-top: 8px solid orange;
}

.THIS.Green {
    border-top: 8px solid green;
}

.THIS.Yellow {
    border-top: 8px solid #baba00;
}
