.THIS {
}
.THIS .header-item {
    font-size: small;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-transform: uppercase;
}

.THIS .green {
    color: green;
}
.THIS .yellow {
    color: #baba00;
}
.THIS .orange {
    color: orange;
}
.THIS .red {
    color: red;
}
